<div class="contextual">
  <%= link_to(l(:label_new_templates), new_global_issue_template_path, class: 'icon icon-add') %>
  <%= link_to(l(:label_settings),
              { controller: 'settings', action: 'plugin', id: 'redmine_issue_templates' },
              class: 'icon-setting icon plugins') %>
</div>
<h2><%= l :global_issue_templates %></h2>

<% if @template_map.blank? %>

  <div class="nodata">
    <% if Tracker.any? %>
      <%= l(:no_issue_templates_for_this_redmine) %>
    <% else %>
      <%= simple_format(l(:text_no_tracker_enabled)) %>
    <% end %>
  </div>

<% else %>

  <% @trackers.each do |tracker| %>
    <% next if @template_map[tracker.id].blank? %>
    <%= render partial: 'issue_templates/list', locals: { tracker: tracker, templates: @template_map[tracker.id] } %>
  <% end %>

<% end %>

<% if @orphaned.present? %>
<p>
<%= link_to l(:orphaned_templates), '#', data: { shows: '#orphaned_templates'}, class: 'collapsible collapsed template-help', onclick: 'return false;' %>
</p>

<div id="orphaned_templates" style="display: none">
  <%= render partial: 'issue_templates/orphaned_templates', locals: { orphaned_templates: @orphaned } %>
</div>
<% end %>
<% html_title(l(:global_issue_templates)) -%>

