<div id="issue_templates_settings">

<% if User.current.allowed_to? :edit_issue_templates, @project %>
  <h3><%= l(:issue_templates) %></h3>
  <div class="box">
    <%= link_to(l(:label_list_templates),
                { controller: 'issue_templates',
                  action: 'index',
                  project_id: @project}, class: 'template') %>
    <% if authorize_for('issue_templates', 'new') %>
      |
      <%= link_to(l(:label_new_templates),
                  new_project_issue_template_path(@project),
                  class: 'icon icon-add') %>
    <% end %>
  </div>
<% end %>

<% if User.current.allowed_to? :manage_issue_templates, @project %>
  <br />
  <br />
  <h3><%= l :label_settings %></h3>
    <p><%= l(:about_help_message) %></p>
    <%= labelled_form_for :settings,
          IssueTemplateSetting.find_or_create(@project.id),
          url: issue_templates_settings_path(@project),
          html: { id: 'issue_templates_settings' } do |f| %>
        <%= error_messages_for 'issue_templates_setting' %>
        <div class="box tabular">

          <p><%= f.check_box :inherit_templates, label: l(:label_inherit_templates) %>
            <em class="info"><%= l(:label_inherit_templates_help_message) %></em>
          </p>

          <p><%= f.check_box :should_replaced, label: l(:label_should_replaced) %>
            <em class="info"><%= l(:label_should_replaced_help_message) %></em>
          </p>

          <p>
            <%= f.text_area :help_message, size: '50x5', class: 'wiki-edit', label: l(:label_help_message) %>
          </p>
          <%= wikitoolbar_for 'settings_help_message' %>
        </div>

        <%= submit_tag l(:button_save) %>
          <%= preview_link issue_template_previews_path,
                             'settings_help_message', 'template_help_preview' %>
          <div id="template_help_preview" class="wiki"></div>
    <% end %>
  <% end %>
</div>

