<%= error_messages_for 'template' %>

<div class="box tabular issue-templates">
  <div>
    <p><%= f.text_field :title, required: true, size: 80, label: l(:issue_template_name) %></p>
  </div>

  <h3><%= l(:label_applied_for_issue) %></h3>
<div class="box tabular issue-templates">
    <p>
      <%= f.select :tracker_id, @trackers.collect{|t| [t.name, t.id]}, required: true, label: l(:label_tracker) %>
    </p>
    <p><%= f.text_field :issue_title, required: false, size: 80, label: l(:issue_title) %>
    <em class="info"><%= l(:help_for_issue_title) %></em>
    </p>
    <p>
      <%= f.text_area :description, cols: 78, rows: 12,
                      label: l(:issue_description), style: 'overflow:auto;' %>
    </p>

    <% if IssueTemplates.checklist_enabled? %>
      <%= render partial: 'common/checklist_form' %>
    <% end %>
  </div>

  <h3><%= l(:label_template_properties) %></h3>
<div class="box tabular issue-templates">
  <p>
    <%= f.text_area :note, cols: 70, rows: 3,
                    required: false,
                    label: l(:issue_template_note), style: 'overflow:auto;' %>
  </p>
  <p><%= f.check_box :is_default, label: l(:field_is_default) %>
    <em class="info"><%= l(:label_isdefault_help_message) %></em>
  </p>

  <% if f.object.respond_to?(:enabled_sharing)  %>
    <p><%= f.check_box :enabled_sharing, label: l(:label_enabled_sharing) %>
      <em class="info"><%= l(:label_enabledshaing_help_message) %></em>
    </p>
  <% end %>

  <p><%= f.check_box :enabled, label: l(:field_active) %>
    <em class="info"><%= l(:label_enabled_help_message) %></em>
  </p>
  </div>

  <%= wikitoolbar_for 'template_description' %>

</div>

