<div id="template_area" style="display: none;">
  <p>
    <label for="issue_template"><%=h l(:issue_template)%></label>
    <%= select_tag 'issue_template', options_from_collection_for_select(
      IssueTemplates::TemplateOptionsForIssue.(project_id: (@project&.id||@issue.project_id), tracker_id: @issue.tracker_id),
      :value, :text, ->(o){ o.is_default }
    ), include_blank: true %>

    <% if setting.help_message.present? %>
      <em class="info"><%= setting.help_message %></em>
    <% end %>
  </p>

  <div id="issue_template_confirm_to_replace_dialog" style="overflow:visible; display: none;">
    <p><%= l :label_msg_confirm_to_replace %></p>
    <p>
    <label><input type="checkbox" id="issue_template_confirm_to_replace_hide_dialog">
      <%= l :label_hide_confirm_dialog_in_the_future %>
    </label>
    </p>
  </div>
</div>

<%= javascript_tag do %>
$(function() {
  IssueTemplates.load_url = '<%= j load_project_issue_template_url(project_id, "@TPL_ID@", tracker_id: @issue.tracker_id) %>';

  if ($('#issue_template option').length <= 1) {
    return;
  }
  $('#template_area').insertBefore($('#issue_subject').parent()).show();

  $(document).on('change', '#issue_subject', function(){
    $(this).data('changed', 'changed');
  });

  $("#issue_template").change(function(){ IssueTemplates.load() });

  <% if new_or_tracker_changed %>
    IssueTemplates.load();
  <% end %>
});
<% end %>

