<% if defined?(tracker) %>
  <% if @project and !@project.trackers.include?(tracker) %>
    <p><%= l :unused_tracker_at_this_project %></p>
  <% end %>
  <h3><%= tracker.name %></h3>
<% end %>
<table class="list issues ui-sortable table-sortable">
  <thead>
  <tr>
    <th>#</th>
    <th><%= l(:issue_template_name) %></th>
    <th class='hideable'><%= l(:field_author) %></th>
    <th class='hideable'><%= l(:field_updated_on) %></th>
    <th><%= l(:field_is_default) %></th>
    <th><%= l :field_active %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% templates.each do |tpl| %>
    <% url = template_url tpl %>
    <tr class="<%= cycle('odd', 'even') %> issue_template issue">
      <td><%= link_to_if can_show_template?(tpl), tpl.id, url %></td>
      <td><%= link_to_if can_show_template?(tpl), tpl.title, url %></td>
      <td class='hideable'><%= tpl.author %></td>
      <td class='hideable'><%= format_time tpl.updated_on %> </td>
      <td class="center"><%= checked_image tpl.is_default? %></td>
      <td class="center"><%= checked_image tpl.enabled? %></td>

      <td class="buttons">
        <% if can_edit_template? tpl %>
          <%= reorder_handle tpl, url: url, param: 'template' %>
          <%= template_edit_link tpl %>
          <%= delete_link url %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= javascript_tag do %>
  $(function() { $("table.table-sortable tbody").positionedItems(); });
<% end %>

