<h3><%= l(:orphaned_templates) %></h3>
<table class="list issues">
  <thead>
    <tr>
      <th>#</th>
      <th><%= l(:issue_template_name) %></th>
      <th><%= l(:field_tracker) %></th>
      <th><%= l(:field_author) %></th>
      <th><%= l(:field_updated_on) %></th>
    </tr>
  </thead>
  <tbody>
    <% orphaned_templates.each do |tpl| %>
      <% url = template_url tpl %>
      <tr class="<%= cycle('odd', 'even') %> issue_template issue">
        <td><%= link_to_if can_show_template?(tpl), tpl.id, url %></td>
        <td><%= link_to_if can_show_template?(tpl), tpl.title, url %></td>
        <td>Tracker ID: <%= tpl.tracker_id %></td>
        <td><%= tpl.author %></td>
        <td><%= format_time tpl.updated_on %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
