<%= title [l(:issue_templates), project_issue_templates_path(@project)], @template.title %>

<%= labelled_form_for :template, @template,
                      url: project_issue_template_path(@project, @template),
                      html: { id: 'issue_template-form' } do |f| %>
  <%= render 'issue_templates/form', { f: f } %>
  <%= submit_tag l :button_save %>
  <%= preview_link issue_template_previews_path, 'template_description', 'preview' %>

  <div id="preview" class="wiki"></div>
<% end %>


