<div class="contextual">
  <% if User.current.allowed_to?(:edit_issue_templates, @project) %>
    <%= link_to l(:label_new_templates), new_project_issue_template_path(@project), class: 'icon icon-add' %>
  <% end %>
</div>
<h2><%= l :issue_templates %></h2>

<% if @template_map.empty? %>

  <div class="nodata">
    <% if @project.trackers.any? %>
      <%= l(:no_issue_templates_for_this_project) %>
    <% else %>
      <%= simple_format(l(:text_no_tracker_enabled)) %>
    <% end %>
  </div>

<% else %>
  <%= render partial: 'template_map', locals: { map: @template_map, trackers: @trackers } %>
<% end %>


<% if @inherited_map.any? %>
  <h2><%= l :label_inherited_templates %></h2>
  <%= render partial: 'template_map', locals: { map: @inherited_map, trackers: @trackers } %>
<% end %>


<% if @global_templates_map.any? %>
  <h2><%= l :global_issue_templates %></h2>
  <p>
    <% if IssueTemplates.apply_all_projects? %>
      <%= l :note_apply_global_template_to_all_projects_setting_enabled %>
      <%= l :note_apply_global_template_to_all_projects_setting_enabled_admin if User.current.admin? %>
      <br/><%= l :note_project_local_template_override_global_template %>
    <% else %>
      <%= l :only_admin_can_associate_global_template %>
    <% end %>
  </p>

  <%= render partial: 'template_map', locals: { map: @global_templates_map, trackers: @trackers } %>
<% end %>


<% if @orphaned.present? %>
  <p>
  <%= link_to l(:orphaned_templates), '#', data: { shows: '#orphaned_templates'}, class: 'collapsible collapsed template-help', onclick: 'return false;' %>
  </p>

  <div id="orphaned_templates" style="display: none">
    <%= render partial: 'orphaned_templates', locals: { orphaned_templates: @orphaned } %>
  </div>
<% end %>

<% html_title(l(:issue_templates)) -%>
