<div class="contextual">
  <%= link_to l(:label_list_templates), project_issue_templates_path(@project), :class => 'template' %>
</div>
<h2><%=h "#{l(:issue_templates)} / #{l(:button_add)}" %></h2>

<% if @project.trackers.blank? %>
    <div class="nodata">
      <%= simple_format(l(:text_no_tracker_enabled)) %>
    </div>
<% else %>

  <%= labelled_form_for :issue_template, @issue_template,
     :url => project_issue_templates_path(@project),
     :html => { :id => 'issue_template-form' } do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <div id="preview" class="wiki"></div>
      <%= submit_tag l(:button_create) %>
  <% end %>
  <%= preview_link url_for(:controller => 'issue_templates', :action => 'preview',
                           :id => @issue_template),
                   'issue_template_description', target='preview' %> |
  <%= link_to l(:button_cancel), {:action => 'index'}, :data => {:confirm => l(:text_are_you_sure)} %>
<% end %>

