<%= title [l(:issue_templates), project_issue_templates_path(@project)], l(:button_add) %>

<% if @project.trackers.any? %>

  <%= labelled_form_for :template, @template, url: project_issue_templates_url(@project),
                        html: { id: 'issue_template-form' } do |f| %>

    <%= render 'issue_templates/form', { f: f } %>
    <%= submit_tag l :button_create %>
  <% end %>

<% else %>

  <div class="nodata">
    <%= simple_format(l(:text_no_tracker_enabled)) %>
  </div>

<% end %>

