<div class="contextual">
  <% if User.current.allowed_to?(:edit_issue_templates, @project) %>
  <%= link_to l(:button_edit), edit_project_issue_template_path(@project, @template),
              class: 'icon icon-edit', accesskey: accesskey(:edit) %>
  <%= link_to l(:button_copy), new_project_issue_template_path(@project, copy_from: @template.id),
              class: 'icon icon-copy' %>
  <%= link_to l(:button_delete), project_issue_template_path(@project, @template),
              data: { confirm: l(:template_remove_confirm, count: @template.used_projects.count), error: (l(:enabled_template_cannot_destroy) if @template.enabled?)},
              method: 'delete',
              class: 'icon icon-del template-disabled-link',
              disabled: @template.enabled? %>
  <% end %>
</div>

<%= title [l(:issue_templates), project_issue_templates_path(@project)], @template.title %>

<%= render partial: 'common/show', locals: { issue_template: @template } %>

